# Default ignored files
/../../../../../../ONEDRI~1/LESMAT~1/Backend/VINYLS~1/VI533B~1/.idea/shelf/
/../../../../../../ONEDRI~1/LESMAT~1/Backend/VINYLS~1/VI533B~1/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../ONEDRI~1/LESMAT~1/Backend/VINYLS~1/VI533B~1/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../../ONEDRI~1/LESMAT~1/Backend/VINYLS~1/VI533B~1/.idea/dataSources/
/../../../../../../ONEDRI~1/LESMAT~1/Backend/VINYLS~1/VI533B~1/.idea/dataSources.local.xml
